@{
    ViewBag.Title = "About";
}

<div class="units-row units-padding">
  <div class="unit-100">
    <h2 class="end">@ViewBag.Title.</h2>
    <h2 class="subheading">@ViewBag.Message</h2>    
  </div>
</div>

<div class="units-row units-padding">
  <div class="unit-100">
    <p>Use this area to provide additional information.</p>
  </div>
</div>
