@{
    ViewBag.Title = "Home Page";
}
<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron text-center">
      <h1>Mr. Nicholes</h1>
      <p>Mr. Nicholes &ndash; Web Developer</p>
    </div>
  </div>
</div>



<div class="row">
    
  <div class="col-md-4">
    <div class="well">
      <h2>Lorem Ipsum</h2>
      <p>
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
      </p>
      <p><a class="btn btn-primary" href="#">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="well">
      <h2>Lorem Ipsum</h2>
      <p>
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
      </p>
      <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    
  </div>


  <div class="col-md-4">
    <div class="well">
      <h2>Lorem Ipsum</h2>
      <p>
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
      </p>
      <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    
  </div>


</div>