@{
    ViewBag.Title = "Home Page";
}
<div class="units-row units-padding">
  <div class="unit-100">
    <div class="text-centered">
      <h1>Code Snippet Library</h1>
      <p class="lead">Code Snippet Library for various programming languages.</p>
    </div>
  </div>
</div>



<div class="units-row units-padding">

    <div class="unit-33">
        <h2>Getting started</h2>
        <p>
            You will be able to locate code snippets by language or by tag. These snippets will have been verified to work correctly
        </p>
        <p><a class="btn btn-green" href="#">Learn more &raquo;</a></p>
    </div>

    <div class="unit-33">
        <h2>Submit a Snippet</h2>
        <p>You will be able to submit content on this site that will be tested by Mr. Nicholes himself and if the code passes muster, it will be added to the library.</p>
        <p><a class="btn btn-green" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>


    <div class="unit-33">
        <h2>Live Testing</h2>
        <p>Eventually I would like to include an option to test the snippets directly in your browser without leaving this site.</p>
        <p><a class="btn btn-green" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>


</div>